.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
/.quarto/
.Rproj.user
*_cache/*
*tsv*
*csv*
*xlsx*
*zip
.DS_Store
.Rhistory
*rds
mp03data/*.csv
mp03data/shp_data/*
mp03data/zip_files/*
mp03data/*.zip